
<div>
  <mat-form-field appearance="outline" floatLabel="auto">
    <mat-label for="objectsList">Objet  3D</mat-label>
    <mat-select name="objectsList" [(ngModel)]="selectedObject">
      <mat-option
        [value]="obj"
        *ngFor="let obj of objectsList">{{obj.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <mat-form-field appearance="outline" floatLabel="auto">
    <mat-label for="profileList">Profil</mat-label>
    <mat-select name="profileList" [(ngModel)]="selectedProfile">
      <mat-option [value]="p" *ngFor="let p of profileList">{{p.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<button type="submit" id="btn-show-obj" mat-flat-button color="primary" (click)="showObject()">Afficher l'objet</button>

<div *ngIf="this.embedUrl">

  <iframe
          id="iFrameViewer"
          title="Inline Frame Example"
          width="600"
          height="600"
          [src]="this.arskanUrl+this.embedUrl | safe: 'resourceUrl'"></iframe>

  <app-pointer-list [objectId]="this.selectedObjId"></app-pointer-list>
</div>
