<section>
  <div>
    <mat-form-field appearance="outline" floatLabel="auto">
      <mat-label for="objectsList">Objet  3D</mat-label>
      <mat-select name="objectsList" [(ngModel)]="selectedObject">
        <mat-option
          [value]="obj"
          *ngFor="let obj of objectsList">{{obj.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" floatLabel="auto">
      <mat-label for="profileList">Profil</mat-label>
      <mat-select name="profileList" [(ngModel)]="selectedProfile">
        <mat-option [value]="p" *ngFor="let p of profileList">{{p.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <h2>Informations supplémentaires sur l'objet sélectionné</h2>
  <div *ngIf="!this.selectedObject.isCurrentlyUpdated">
    <button mat-icon-button aria-label="Modifier"
            class="center-buttons" (click)="startUpdate(this.selectedObject)">
      <mat-icon [inline]="false" class="align-middle">border_color</mat-icon>
    </button>
    <p><b>Nom :</b> <br>{{this.selectedObject.name}}</p>
    <p><b>Description : </b> <br>{{this.selectedObject.description}}</p>
    <p><b>Id : </b> <br>{{this.selectedObject._id}}</p>
    <p><b>url : </b> <br>{{this.selectedObject.picture}}</p>
    <p><b>Id du silo : </b> <br>{{this.selectedObject.silo_id}}</p>
  </div>
  <div *ngIf="this.selectedObject.isCurrentlyUpdated">
    <button mat-icon-button aria-label="Save"
            class="center-buttons" (click)="updateObject(this.selectedObject)">
      <mat-icon [inline]="false" class="align-middle">save</mat-icon>
    </button>
    <p><b>Nom :</b><br><textarea [(ngModel)]="this.selectedObject.name" rows = "1" cols = "30"></textarea></p>
    <p><b>Description : </b> <br><textarea [(ngModel)]="this.selectedObject.description" rows = "3" cols = "60"></textarea></p>
    <p><b>Id : </b> <br>{{this.selectedObject._id}}</p>
    <p><b>url : </b> <br><textarea [(ngModel)]="this.selectedObject.picture" rows = "5" cols = "120"></textarea></p>
    <p><b>Id du silo : </b> <br>{{this.selectedObject.silo_id}}</p>
  </div>
  <button type="submit" id="btn-show-obj" mat-flat-button color="primary" (click)="showObject()">Afficher l'objet</button>

  <div *ngIf="this.embedUrl">

    <iframe
      id="iFrameViewer"
      title="Inline Frame Example"
      width="600"
      height="600"
      [src]="this.arskanUrl+this.embedUrl | safe: 'resourceUrl'"></iframe>
    <app-pointer-list [objectId]="this.selectedObjId"></app-pointer-list>
  </div>

</section>
