table{
  width: 100%;
  max-width: 100%;
}

table td {
  vertical-align: middle;
  overflow-wrap: break-word;
  padding: 1em;
}

table th {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 14px;
}

table button mat-icon {
  margin: auto;
}

tr.mat-row, tr.mat-footer-row {
  height: min-content;
}

.center-buttons{
  width: fit-content;
  margin: auto;
}
