/*
table{
  width: 100%;
  max-width: 100%;
}

table td {
  vertical-align: middle;
  overflow-wrap: break-word;
  padding: 1em;
}

table th {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 14px;
}

table button mat-icon {
  margin: auto;
}

tr.mat-row, tr.mat-footer-row {
  height: min-content;
}

.center-buttons{
  width: fit-content;
  margin: auto;
}
*/

.mat-column-id, .mat-column-title, .mat-column-description, .mat-column-position, .mat-column-camera {
  padding: 10px;
}

.mat-column-id {
  min-width: 100px;
  max-width: 100px;
  word-break: break-word;
  text-align: center;
}

.mat-column-title {
  min-width: 120px;
  max-width: 120px;
}

.mat-column-description{
  min-width: 400px;
  max-width: 400px;
  word-break: break-word;
  margin-left: 10px;
}

.mat-column-position{
  min-width: 80px;
  max-width: 190px;
}

.mat-column-camera{
  min-width: 80px;
  max-width: 180px;
}

#add-button {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
